@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: white;
}*

* {
  scroll-behavior: smooth;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.full-text-outline {
  text-shadow: -1px -1px 0 #454d66, 1px -1px 0 #454d66, -1px 1px 0 #454d66, 1px 1px 0 #454d66;
}

.br-text-outline-thick {
  text-shadow: 2px 2px 0 #454d66, 1px 1px 0 #454d66;
}

.br-text-outline-thick-white {
  text-shadow: 1px 1px 2px #ffffff;
}

.br-text-outline-normal-white {
  text-shadow: 1px 1px 0 #ffffff;
}

.br-text-outline-normal {
  text-shadow: 1px 1px 0 #454d66;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}